body{
   background-color: white;
}
header{
    display: flex; 
    align-items: center; 
    background-color: black;
    justify-content: left;
    padding: 5px;
}
nav{
    justify-content: space-around;
    display: flex;
    margin-right: 85px;

}
div ul {
    list-style-type: none;
    display: flex;
    margin-right: 50px;
    
}
  
div li {
    display: inline;
    text-align: center;
    margin-right: 100px;
}
