body{
   background-color: white;
   margin: 0%;
   font-family: 'Raleway', sans-serif;
}
header{
    display: flex; 
    align-items: center; 
    background-color: black;
    justify-content: left;
    padding: 5px;
    justify-content: space-between;
}
nav{
    justify-content: space-between;
    display: flex;
    margin-right: 85px;

}
div ul {
    list-style-type: none;
    display: flex;
    margin-right: 50px;
    
  
}
  
div li {
    display: inline;
    text-align: center;
    margin-right: 15px;
    

}
.nav{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
h1{
    color: white;
    font-size: 18px;
    margin-left: 20px;
}
a{
    text-decoration: none; 
    color: white;
}
ul li{
    margin-left: 10px;
}
.der-sec :hover{
    color: cornflowerblue;
}
main{
    margin-top: 100px;
   
        margin-left: 250px;
        margin-right: 250px;
  
}





